PORT=4242
CLIENT_URL=http://localhost:5173
PUBLIC_BASE_URL=http://localhost:4242

MERCHANT_NAME=BarMix
SUPPORT_EMAIL=barmixhub@mail.ru
SUPPORT_PHONE=+7 (999) 000-00-00

TBANK_API_URL=https://securepay.tinkoff.ru/v2
TBANK_API_TOKEN=
TBANK_TERMINAL_KEY=
TBANK_TERMINAL_PASSWORD=
